java:
  applicationPort: 4006
  ingressHost: "div-emca-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
  aadIdentityName: divorce
  autoscaling:
    enabled: true
    maxReplicas: 4
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  environment:
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    DOCUMENT_MANAGEMENT_STORE_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    EVIDENCE_MANAGEMENT_HEALTH_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/health"
    EVIDENCE_MANAGEMENT_UPLOAD_FILE_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/documents"
    AUTH_PROVIDER_SERVICE_CLIENT_MICROSERVICE: "divorce_document_generator"
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    AUTH_PROVIDER_SERVICE_CLIENT_TOKENTIMETOLIVEINSECONDS: "900"
    HTTP_CONNECT_REQUEST_TIMEOUT: "60000"
    HTTP_CONNECT_SOCKET_TIMEOUT: "5000"
    HTTP_CONNECT_TIMEOUT: "60000"
  keyVaults:
    div:
      secrets:
        - name: div-doc-s2s-auth-secret
          alias: AUTH_PROVIDER_SERVICE_CLIENT_KEY
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
